.node_icon_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
}

.node_icon_image {
  width: 92px;
  height: 92px;
  z-index: 2;
}

.circle_small_2 {
  /* display: block; */
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0);
}

.node_icon_2:hover .circle_small_2 {
  animation: glow_small_2 1.5s linear 0s infinite;
}

.circle_medium_2 {
  /* display: block; */
  position: absolute;
  width: 82px;
  height: 82px;
  border-radius: 41px;
  background-color: rgba(255, 255, 255, 0);
  /* animation: glow_medium 1.5s linear 0s infinite; */
}

.node_icon_2:hover .circle_medium_2 {
  animation: glow_medium_2 1.5s linear 0s infinite;
}

@keyframes incomingAnimation_2 {
  from {
    opacity: 0;
    transform: translateY(-300px);
  }
  70% {
    opacity: 1;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.node_icon_2 {
  animation: incomingAnimation_2 0.5s ease-in-out forwards;
}

@keyframes glow_small_2 {
  0% {
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0);
  }

  25% {
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.7);
  }

  75% {
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.7);
  }

  100% {
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0);
  }
}

@keyframes glow_medium_2 {
  0% {
    width: 82px;
    height: 82px;
    background-color: rgba(255, 255, 255, 0);
  }

  25% {
    width: 82px;
    height: 82px;
    background-color: rgba(255, 255, 255, 0.15);
  }

  50% {
    width: 82px;
    height: 82px;
    background-color: rgba(255, 255, 255, 0.3);
  }

  75% {
    width: 82px;
    height: 82px;
    background-color: rgba(255, 255, 255, 0.15);
  }

  100% {
    width: 82px;
    height: 82px;
    background-color: rgba(255, 255, 255, 0);
  }
}
