/* body {
  display: flex;
  flex-direction: column;
} */

/* .size {
  height: 30px;
  
} */

.first {
  background-color: red;
  /* left: 8px;
  right: 8px; */
  /* position: fixed; */
  /* top: 0px; */
  display: inline-flex;
  height: 30px;
  width: 100px;
}

.second {
  background-color: yellow;
  /* opacity: 0.5;
  margin-top: 30px;
  height: 1000px; */
}

.third {
  background-color: blue;
  /* position: fixed;
  bottom: 0px;
  width: 100%; */
}
